# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# macOS
.DS_Store


# Logs
*.log

# Environment variables
.env

# Wheels and build
dist/
build/

# Docker
*.pid

# Ignore audio outputs
*.wav
